/* Colours */
    $backgroundcolor: rgb(42, 92, 255);
    $minibanner-color: rgb(17, 25, 102);
    $title-color: rgb(243, 243, 243);
    $text-color: rgb(0, 0, 0);
    $background-color-title: aliceblue;
    

/*  Gradientes */
    $gradient: linear-gradient(180deg, rgba(9,9,121,1) 2%, rgba(0,212,255,0.8855917366946778) 78%);
    $gradient2: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    $gradient3: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8127626050420168) 63%, rgba(255,255,255,0) 100%);


/* Spacings */

    $spacing-large: 6rem;
    $spacing-medium: 2.4rem;
    $spacing-small: 2rem;
    $spacing-xsmall: 0.2rem;


/* Font-size */ 

    $fontsize-large: 5.2em;
    $fontsize-medium: 2.2em;
    $fontsize-small: 1.4em;
    $fontsize-xsmall: 1.0em;

